---
layout: default
keywords: [feling.net, pages.feling.net]
---
<div class="uk-flex uk-grid">
    {% for tag in site.tags reversed %}
    {% assign t = tag | first %}
    {% assign p = tag | last %}
    {% if t != 'donate' %}
    <div class="uk-panel uk-panel-box" style="word-wrap:break-word; margin-right:10px;margin-bottom:10px;"> 
        <h2 class="uk-panel-title"><i class="uk-icon-bookmark"></i>&nbsp;&nbsp;{{ t }}</h2>
        <a id="{{ t }}" class="target-fix"></a>
        <hr/>
        <ul>
            {% for post in p %}
            <li style="max-width: 250px;"><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endfor %}
</div>
<br/>
