<hr/>
<div style="max-width:450px;float:left;padding:0 10px;">
The contents of this website is edited by chenyan &copy;2015<br/>
under the terms of the <a href="/LICENSE.txt">GPL2 License</a><br/>
Hosted By <a target="_blank" href="https://github.com/chenyanclyz/chenyanclyz.github.io"><i class="uk-icon-github"></i> GitHub</a> and <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3Da0bjJ79wgAAcQipKwQzePCperVdZeJviEViQ0P1Vf2kguMN8XjClAtt7adflbsgqngqExHzB0EL6fUCl2keXsysU0O4h16%2FBx6ijQktfa3%2Flmxm5IIArWjDVuRn8ddiDsEVVC24eqozcHtRpEUy6RHVyxRO0gvF4QxJtmCgOmCLXl8Q7TEjBF%2BX11FSyvDCnQiv%2BJKjlPObGDmntuH4VtA%3D%3D" target="_blank" >aliyun</a><br/>
<a target="_blank" href="https://github.com/chenyanclyz/chenyanclyz.github.io/issues">Feedback here</a> or <a href="mailto:chenyan@feling.net">mail to me</a>
</div>

<!--alimama 广告
<a style="float:left;padding:0 10px;" target="_blank" href="http://s.click.taobao.com/t?e=m%3D2%26s%3D4pAc1tkMcbscQipKwQzePCperVdZeJviEViQ0P1Vf2kguMN8XjClAjYhlAfJLNS%2FNgFiTTcOcr36fUCl2keXsysU0O4h16%2FBx6ijQktfa3%2Flmxm5IIArWjDVuRn8ddiDsEVVC24eqozcHtRpEUy6RHVyxRO0gvF4QxJtmCgOmCLZ%2FNxlvga2vCGHCdjJcuceS4SBz60%2BbAhXSd1ORWLc9XEqY%2Bakgpmw"><img src="/images/guanggao/aliyun99.jpg" /></a>
-->

<!--谷歌站内搜索
<div id="gcs" style="width:320px;float:left;">
<gcse:search></gcse:search>
</div>
<br/>
<script>
  (function() {
    var cx = '005096245001006865205:ppf0w1efjoy';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
-->
