<hr/>
<div style="float:left;padding:0 10px;">
the contents of this website is edited by chenyan &copy;2017 under the terms of the <a href="/LICENSE.txt">GPL3 License</a><br/><br/>
hosted by <a target="_blank" href="https://github.com/playlay/playlay.github.io"><i class="uk-icon-github"></i> GitHub</a> <br/>
<a target="_blank" href="https://github.com/playlay/playlay.github.io/issues">feedback here</a> or <a href="mailto:chenyan@feling.net">mail to me</a>
<br/>
<br/>
</div>

<!--谷歌站内搜索-->
<div id="gcs" style="width:320px;float:left;">
<gcse:search></gcse:search>
</div>
<br/>
<script>
    var the_gfw = new Image();
    the_gfw.src = "https://www.google.com/images/branding/product/ico/googleg_lodp.ico?timestamp=" 
                    + new Date().getTime() / 10000;
    setTimeout(
        function() {
            if (!the_gfw.complete || !the_gfw.naturalWidth) {
                the_gfw.src = '' // 没能在1s内请求到谷歌的icon
            } else {
                (function() {
                    var cx = '005096245001006865205:ppf0w1efjoy';
                    var gcse = document.createElement('script');
                    gcse.type = 'text/javascript';
                    gcse.async = true;
                    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//cse.google.com/cse.js?cx=' + cx;
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(gcse, s);
                })();
            }
        },
        1000
    );
</script>

