<hr/>
<div style="float:left;padding:0 10px;">
the contents of this website is edited by chenyan &copy;2016 under the terms of the <a href="/LICENSE.txt">GPL2 License</a><br/><br/>
hosted by <a target="_blank" href="https://github.com/chenyanclyz/chenyanclyz.github.io"><i class="uk-icon-github"></i> GitHub</a> and <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3Da0bjJ79wgAAcQipKwQzePCperVdZeJviEViQ0P1Vf2kguMN8XjClAtt7adflbsgqngqExHzB0EL6fUCl2keXsysU0O4h16%2FBx6ijQktfa3%2Flmxm5IIArWjDVuRn8ddiDsEVVC24eqozcHtRpEUy6RHVyxRO0gvF4QxJtmCgOmCLXl8Q7TEjBF%2BX11FSyvDCnQiv%2BJKjlPObGDmntuH4VtA%3D%3D" target="_blank" >aliyun</a><br/>
<a target="_blank" href="https://github.com/chenyanclyz/chenyanclyz.github.io/issues">feedback here</a> or <a href="mailto:chenyan@feling.net">mail to me</a>
<br/>
<br/>
</div>

{% if 'proxy' in page.tags %}
<div style="float:right;padding:0 10px;">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 320,100 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:320px;height:100px"
     data-ad-client="ca-pub-4627886972932560"
     data-ad-slot="4356520339"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
{% endif %}

<!--百度自动链接提交-->
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

<!--谷歌站内搜索
<div id="gcs" style="width:320px;float:left;">
<gcse:search></gcse:search>
</div>
<br/>
<script>
  (function() {
    var cx = '005096245001006865205:ppf0w1efjoy';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
-->
