<div class="go-top">
    <div class="arrow"></div>
    <div class="stick"></div>
</div>
<nav class="uk-navbar">
    <a class="uk-hidden-small uk-navbar-brand" href="#offcanvas"  data-uk-offcanvas><i class="uk-navbar-toggle"></i> feling</a>
    <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
    <a href="/" class="uk-visible-small uk-navbar-brand uk-navbar-center">feling</a>
<script>
  (function() {
    var cx = '005096245001006865205:ppf0w1efjoy';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
</nav>
{% include offcanvas.html %}
