<div class="uk-hidden-small">
    <h1>feling.net<h1>
</div>
<nav class="uk-navbar uk-navbar-attached">
    <ul class="uk-navbar-nav uk-hidden-small">
        <li><a href="/" class="uk-navbar-brand">首页</a></li>
        <li><a href="/" class="uk-navbar-brand">首页</a></li>
    </ul>
    <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas>caidan</a>
</nav>
<div id="offcanvas" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas">
            <li class="uk-active"><a href="/">Home</a></li>
            <li><a href="http://desainwebshost.com/feature">Feature</a></li>
        </ul>
    </div>
</div>
<br/>
