<div class="go-top">
    <div class="arrow"></div>
    <div class="stick"></div>
</div>
<nav class="uk-navbar">
    <a class="uk-hidden-small uk-navbar-brand" href="#offcanvas"  data-uk-offcanvas><i class="uk-navbar-toggle"></i> feling</a>
    <div class="uk-navbar-content" style="width:200px;height:40px"><gcse:search></gcse:search></div>
    <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
    <a href="/" class="uk-visible-small uk-navbar-brand uk-navbar-center">feling</a>
</nav>
{% include offcanvas.html %}
