<div class="uk-panel uk-panel-box" style="word-wrap: break-word; position: fixed; width: 21%;"> 
    <h2 class="uk-panel-title">最新文章</h2>
    <ul>
    {% for post in site.posts limit:5 %}
    {% if post.title != page.title %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
    {% endfor %}
    </ul>
<br/>
</div>
<div class="uk-panel uk-panel-box" style="word-wrap: break-word; position: fixed; width: 21%;"> 
<p>写得不错? <a href="/2015/06/donate.html"> 打个赏呗</a></p>
</div>
<div class="uk-panel uk-panel-box" style="word-wrap: break-word; position: fixed; width: 21%; margin-top: 500px"> 
    <div id="toc"></div>
</div>
