<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="hostname" content="feling.net">
    <meta name="keywords" content="{{ page.keywords | join: ',' }}" />
    <title>
    {% if page.title %}
        {{ page.title }}
    {% else %}
        {{ site.title }}
    {% endif %}         
    </title>
    <link rel="stylesheet" href="/css/uikit.css">
    <link rel="stylesheet" href="/css/md.css">

</head>
<body >
    {% include header.html %}
    <div class="uk-flex uk-grid uk-container uk-container-center">
        <div class="uk-width-1-4 uk-grid-divider uk-hidden-small"><p>djfidjfiewajfeiofjiwao</p><p>djfidjfiewajfeiofjiwao</p><p>djfidjfiewajfeiofjiwao</p></div>
        <div class="uk-width-3-4 uk-grid-divider">{{ content }}</div>
    </div>
    {% include footer.html %}
</body>
</html>
