<!DOCTYPE html>
<html>
<head>
{% include head.html %}
</head>
<body >
    <header>
    {% include header.html %}
    </header>
    <div class="uk-container uk-container-center">
        <div class="uk-flex uk-grid-small uk-grid-divider">
            <div class="uk-visible-large uk-panel uk-panel-box" style="width:30%;">{% include right.html %}</div>
            <div style="width:100%;">{{ content }}</div>
        </div>
    </div>
    <footer>
    {% include footer.html %}
    </footer>
</body>
</html>
